COSMOS_ENDPOINT=
COSMOS_KEY=
# Hedera account ID and key that will be responsible for paying the transactions for the account creation
OPERATOR_ID=
OPERATOR_KEY=
HEDERA_NETWORK= previewnet/testnet/mainnet (select one network)

#Mirror node url
HEDERA_MIRROR_NODE_URL=https://testnet.mirrornode.hedera.com

PRODUCT_CONTRACT_ID=
PRODUCT_OPERATOR_ID=
PRODUCT_OPERATOR_KEY=